
.active{
    transform: scale(1);
}

.result__container{
    min-width: 90%;
    min-height: 40vh;
    z-index: 10;
    position: absolute;
    padding: 40px;
    background-color: #e3e3e3;
    border-radius: 5px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1300px;
    max-height: 100vh;
}

.result__title{
    text-align: center;
    font-size: 34px;
    text-transform: uppercase;
}

.result__content{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}
.result__text{
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
}
.result__text span{
    text-transform: lowercase;
}