@import url("componets/StartPopup/StartPopup.css");
@import url("componets/MainWindow/MainWindow.css");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #49a9db;;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Tahoma;
}

.main{
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.main__title{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  padding: 40px 0;
}

