body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #49a9db;;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main{
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.main__title{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  padding: 40px 0;
}

.main__window{
  padding: 30px;
  border-radius: 9px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  15px 15px 21px #bebebe,
  -15px -15px 21px #ffffff;
  display: flex;
  gap: 20px;
}

.main__text{
  font-size: 24px;
}

.main__content{
  min-width: 100px;
}